.comment-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-body {
    margin-top: 5px;
}

.comment-author {
    font-weight: bold;
}

.comment-date {
    text-align: end;
}

.comment-header-right {
    display: flex;
    align-items: center;
    gap: 4px;
}